app-project-list .project-item{
	border-radius:4px;
	height:40px;
}
app-project-list .project-item .md-secondary-container{
	height:40px;
}
app-project-list .project-item-selected{
	background-color:#6b6b99 !important;
}
app-project-list .project-item-selected .md-button{
	background-color:rgba(41, 44, 51, 0.0) !important;
}
app-project-list .md-list-project-action{
	padding-right:10px !important;
}
app-project-list .md-list-project-action p{
	font-size:12px;
}
app-project-form .btn-add-project{
	position:fixed;
	bottom:36px;
	right:50px;
	width:50px !important;;
	height:50px !important;;
	line-height:50px !important;;
}
app-project-form .project-form{
	width:340px;
}
app-project-menu .project-setting{
	margin-right:10px !important;
}
app-project-menu .btn-search{
	padding-bottom:6px;
	width:35px;
	min-width:35px;
}

app-project-menu .animate-show-hide.ng-hide{
	opacity:0;
}
app-project-menu .animate-show-hide.ng-hide-add,
app-project-menu .animate-show-hide.ng-hide-remove{
	transition:all linear 0.2s;
}
